.projectInfo {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.projectInfo_content {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 50px;
}
.projectInfo_content .modal-header button {
  display: none;
}

.task_item {
  border: 1px solid #d5d3da;
  padding: 10px;
  /* height: 300px; */
  box-shadow: 0 7px 40px #7149fc12;
}
.task_item .task_header {
  border-bottom: 1px solid #d5d3da;
}
.task_list {
  /* padding: 5px; */
}
.task_list .taskList_item {
  padding: 10px 0;
  border: 1px solid #d5d3da;
  margin: 10px 0;
}
