.sideNav {
  background-color: #191919;
  height: 100vh;
  border-radius: 5px;
  color: white;
}

.sideNav_button {
  text-align: center;
  position: relative;
}

.sideNav_buttons button {
  background-color: transparent;
  border: none;
  margin-top: 50%;
}

.sideNav_buttons button:focus {
  outline: none;
}
.tooltip {
  width: auto;
  white-space: nowrap;
  border-radius: 5px;
  padding: 10px;
  background-color: #383838d3;
  position: absolute;
  top: 30%;
  left: 77%;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  font-weight: 500;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #383838d3 transparent transparent;
}

.sideNav_button:hover .tooltip {
  opacity: 1;
}
